KarlsonMPserver/KarlsonMPserver/bin/*
KarlsonMPserver/KarlsonMPserver/obj/*
KarlsonMPclient/KarlsonMPclient/bin/*
KarlsonMPclient/KarlsonMPclient/obj/*
KarlsonMPserver/.vs/*
KarlsonMPclient/.vs/*
KarlsonMPmelon/ClassLibrary1/.vs/*
KarlsonMPmelon/ClassLibrary1/ClassLibrary1/bin/*
KarlsonMPmelon/ClassLibrary1/ClassLibrary1/obj/*
